

@keyframes stars {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100px 100px;
    }
}


body {
    background-color: #000033;
    color: aqua;
}

#sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 10px 10px;
    animation: stars 5s infinite linear;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}